html, body {
    font-family: Verdana;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body { margin: 0; }
a { text-decoration: none; }
p {
    margin: 0;
    margin-bottom: 16px;
}
p:last-child { margin-bottom: 0; }

.mb-0 { margin: 0; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

h1 { text-align: center; }



/* Header */
header {
    color: black;
    text-align: center;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    margin-bottom: 16px;
}

nav.mainMenu ul {
    margin: 0;
    padding: 0; 
    list-style-type: none;
    font-size: 0;
}

nav.mainMenu ul li {
    width: auto;
    display: inline-block;
}

nav.mainMenu ul li a {
    display: block;
    padding: 16px 32px;
    font-size: initial;
    color: black;
    font-size: 18px;
}

nav.mainMenu ul li a:hover {
    background-color: white;
    color: black;
}



/* Body */
.container {
    width: 1200px;
    margin: 0 auto;
}

main {
    padding: 8px 16px;
}



/* Footer */
footer {
    border-top: 1px #CCC solid;
    color: black;
    text-align: center;
    padding: 16px 0;
    margin-top: 16px;
}




/* Formuláře */
label {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}
input, textarea {
    outline: none;
    padding: 8px 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px #AAA solid;
    width: 100%;
}
.admin-login-form {
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
}

.btn {
    width: auto;
    padding: 8px;
    border-radius: 4px;
    border: 1px #CCC solid;
    transition: all .3s linear;
    cursor: pointer;
}
.btn-primary {
    background-color: #1ba1e2;
    color: white;
    border-color: #1580B4;
}
.btn-primary:hover {
    background-color: #1580B4;
}